@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    src: url("./fonts/Beatrice-Regular.ttf");
    font-family: "Beatrice";
    font-weight: 400;
    font-display: swap;
}

body {
    font-family: "Beatrice", sans-serif;
    @apply text-neutral-900 bg-neutral-50;
}
