@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    src: url("./fonts/Beatrice-Light.ttf");
    font-family: "Beatrice";
    font-weight: 300;
    font-display: swap;
}

@font-face {
    src: url("./fonts/Beatrice-Regular.ttf");
    font-family: "Beatrice";
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src: url("./fonts/Beatrice-Medium.ttf");
    font-family: "Beatrice";
    font-weight: 500;
    font-display: swap;
}

@font-face {
    src: url("./fonts/Butler-Medium.woff");
    font-family: "Butler";
    font-weight: 500;
    font-display: swap;
}

html, body {
    @apply overflow-x-clip;
}

body {
    @apply text-neutral-900 bg-neutral-50;
}

.scrollbar::-webkit-scrollbar {
    @apply w-2;
}

.scrollbar::-webkit-scrollbar-track {
    @apply bg-neutral-900/10;
}

.scrollbar::-webkit-scrollbar-thumb {
    @apply bg-neutral-800;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-900;
}
